.form-group {
    margin-bottom: 25px;
}

.invalid-feedback {
    height: 0;
    margin-top: 0;
}

.valid-feedback {
    height: 0;
    margin-top: 0;
}

.stock-list-card {
    padding: 20px;
    box-shadow: 2px 2px 6px grey;
    margin: 10px 0;
    .stock-list-card__icon {
        color: #6d6d6d;
        margin: 0 10px;
        &.delete {
            &:hover {
                color: red;
                cursor: pointer;
            }
        }
        &.view {
            &:hover {
                color: rgb(50, 50, 110);
                cursor: pointer;
            }
        }
        &.update {
            &:hover {
                color: brown;
                cursor: pointer;
            }
        }
    }
}

.stock-card-view {
    padding: 20px;
    box-shadow: 2px 2px 6px grey;
    text-transform: capitalize;
    background: white;
}

a {
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
}
