.sidebar {
    text-align: center;
    color: white;
    background: #2a3f54;
    width: 70px;
    height: 100vh;
    padding-top: 20px;
    padding-left: 0;
    .title {
        text-align: center;
    }
    h1 {
        font-size: 1.5rem;
        display: none;
        padding-left: 10px;
    }
}

.sidebar__profile-picture {
    padding-top: 40px;
    font-size: 12px;
    img {
        background: white;
        padding: 4px;
        position: relative;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

.navbar {
    padding: 0;
    margin-top: 25px;
    ul {
        margin: auto;
        li {
            margin-top: 10px;
            margin-bottom: 10px;
            &:hover {
                color: darken($color: white, $amount: 20%);
                cursor: pointer;
            }
            a {
                font-size: 11px;
                display: block;
                padding-left: 0;
            }
        }
    }
}

//Media queries

@media (min-width: 762px) {
    .sidebar {
        text-align: left;
        width: 250px;
        h1 {
            display: inline;
        }
    }
    .sidebar__profile-picture {
        padding-left: 10px;
    }
    .navbar {
        padding-left: 10px;
        ul {
            margin: 0;
            li {
                a {
                    display: inline;
                    padding-left: 15px;
                }
            }
        }
    }
}
