.sidebar {
    text-align: center;
    color: white;
    background: #2a3f54;
    width: 70px;
    height: 100vh;
    padding-top: 20px;
    padding-left: 0;
    .title {
        text-align: center;
    }
    h1 {
        font-size: 1.5rem;
        display: none;
        padding-left: 10px;
    }
}

.sidebar__profile-picture {
    padding-top: 40px;
    font-size: 12px;
    img {
        background: white;
        padding: 4px;
        position: relative;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

.navbar {
    padding: 0 !important;
    margin-top: 25px;
    ul {
        margin: auto;
        width: 100%;
        li {
            .active {
                background: darken($color: #2a3f54, $amount: 2%);
            }
            a {
                color: white;
                font-size: 12px;
                padding-left: 0;
                width: 100%;
                display: block;
                padding: 10px 0;
                text-decoration: none;
                &:hover {
                    background: darken($color: #2a3f54, $amount: 2%);
                    cursor: pointer;
                }
                svg {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

//Media queries

@media (min-width: 762px) {
    .sidebar {
        text-align: left;
        width: 250px;
        h1 {
            display: inline;
        }
    }
    .sidebar__profile-picture {
        padding-left: 10px;
    }
    .navbar {
        ul {
            margin: 0;
            li {
                a {
                    display: block;
                    padding: 15px;
                    width: 100%;
                    svg {
                        display: inline;
                        margin-right: 10px !important;
                    }
                }
            }
        }
    }
}
