/* This application uses BEM methodology for css naming 
For more information, please visit http://getbem.com/ */

@import "./components/sidebar/Sidebar.scss";
@import "./components/stocks/Stocks.scss";
@import "./utilities/variables";

.main-section {
    margin-top: 20px;
}

.main-section__col {
    justify-content: center;
    display: flex;
    flex-direction: column;
    .main-section__button {
        color: grey;
        &:hover {
            color: darken($color: rgb(82, 82, 82), $amount: 10%);
            cursor: pointer;
            transform: scale(1.1);
            transition: ease 0.4s;
        }
    }
}

.main-sidebar {
    flex: 0 0 $mobile-sidebar-width;
    margin-right: 25px;
}

//Media queries

@media (min-width: 992px) {
    .main-sidebar {
        flex: 0 0 $sidebar-width;
    }
}